
body {
  position: absolute;
  background-repeat: no-repeat;
  
}

input[type=text] {
  position: absolute;
  border-radius: 4px solid black;
  font-size: 20px;
  background-color: white;
  width: 50%;
  outline: olive;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 300px;
  margin-top: -80px;
  color: black;
}

input:hover {
  background-color: black;
  border: none;
  outline: none;
  width: 50%;
  color: white;
}

button {
  position: absolute;
  margin-left: 800px;
  width: 130px;
  height: 45px;
  margin-top: -80px;
  font-style: italic;
  font-size: 20px;
  color: black;
  border: 1px solid #000;
  background: transparent;
  border: 2px solid #000;
}

button:hover {
  background-color: black;
  color: white;
}

.out {
  margin-left: 300px;
  margin-top: 170px;
  border-radius: 25px;
}
.listDiv{
  position: absolute;
  margin-top: 30%;
  margin-left: -20%;
  padding: 40%;
  border-radius: 25px;
  border: 5px solid black;
  margin-bottom: 30%;
}
.listH1{
  width: 500px;
}
.listH2{
  width: 500px;
}

